# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Data (DO NOT upload full datasets)
data/*
!data/.gitkeep

# Model weights
*.pt
*.pth

# Jupyter / Colab
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
